body {
  background-color: #1d2118;
  font-family: 'Gill Sans', 'Gill Sans MT', Calibri, 'Trebuchet MS', sans-serif;
}

.jumbotron {
  background-image: url("../img/headerbackground.png");
  background-position: center center;
  background-repeat: no-repeat;
  background-size: cover;
  background-color: #1d2118;
  width: auto;
  height: 400px;
}

.col-3 {
  float: left;
  padding: 10px;
}

.left img {
  margin-left: 100px;
  margin-top: 25px;
  width: 120%;
  filter:drop-shadow(5px 5px 10px black)
}

.text {
  position: relative; 
  color: #97a9b8;
  text-shadow: 2px 2px 5px black;
  left: 200px
}

.text h3 {
  margin-left: 40px;
  margin-top: 30px;
  width: 300px;
}

.text h1 {
  margin-left: 20px;
  margin-top: 10px;
}

.transparent {
  width: 350px;
  background-color: rgba(44, 53, 38, 0.8);
}
  
.transparent p {
  margin-left: 0px;
  margin-top: 15px;
  width: 350px;
  text-align: justify;
  opacity: 100%;
}

.row h2 {
  text-align: center;
}

.card {
  margin: auto;
  margin-bottom: 25px;
  border-width: 5px;
  border-color: #171116;
  padding-left: 5px;
  padding-right: 5px;
  background-color: #21181f;
}

.card h2 {

}

.card p {
  text-align: center;
  color: #f9ffee;
  text-shadow: 2px 2px 5px black;
}

.card ul {
  display: table;
  margin: 0 auto;
  color: #f9ffee;
  text-shadow: 2px 2px 5px black;
}